asgiref==3.4.1
Django==3.2.7
django-translated-fields==0.11.3
django-widget-tweaks==1.4.8
djangorestframework==3.12.4
Pillow==8.3.2
psycopg2==2.9.1
python-gettext==4.0
pytz==2021.1
RandomWords==0.3.0
sqlparse==0.4.1

cffi~=1.14.6
future~=0.18.2
pip~=21.2.4
wheel~=0.37.0
Brotli~=1.0.9
django-request~=1.5.6
Serializer~=0.2.1
colorama~=0.4.4
Jinja2~=3.0.1
serializers~=0.2.4
setuptools~=57.4.0