{% extends 'base/base.html' %}
{% load i18n %}
{% block heder %}
    <!-- Header-->
    <!-- slide show-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/media/header_site.jpg" class="d-block w-100" alt="...">
            </div>
            {% for advertising in advertisings %}
                <div class="carousel-item">
                    <img src="{{ advertising.image.url }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>





{% endblock %}


{% block content %}
    <!-- Section-->
    <!-- display of products-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in category.products.all %}
                    <div class="col mb-5">
                        <div class="card h-100 ">
                            <!-- Product images-->
                            <div id="{{ product.name }}" class="carousel slide " data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active p-5">
                                        <img src="{{ product.images.first.image.url }}" class="d-block w-100" alt="...">
                                    </div>
                                    {% for product_image in product.images.all %}
                                        <div class="carousel-item p-5">
                                            <img src="{{ product_image.image.url }}" class="d-block w-100" alt="...">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button"
                                        data-bs-target="#{{ product.name }}"
                                        data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                        data-bs-target="#{{ product.name }}"
                                        data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            {#                        <img class="card-img-top" src="{{ product.image.urls }}" alt="..."/>#}
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>
                                    <!-- Product price-->
                                    {{ product.price }} {% translate 'Rial' %}<br>

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                               <a href="{% url 'products:product_detail' product.id %}"  class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}