{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block style.css %}
    <link href="{% static 'products/css/product_detail.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="container mt-5 mb-5">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-6 border-end">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="main_image"><img src="{{ product.images.first.image.url }}" id="main_product_image"
                                                     width="350"></div>
                        <div class="thumbnail_images">
                            <ul id="thumbnail">
                                {% for image in product.images.all %}
                                    <li><img onclick="changeImage(this)" src="{{ image.image.url }}" width="70">
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="p-3 right-side">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3>{{ product.name }}</h3> <span class="heart"><i
                                class='bi bi-star'></i></span>
                        </div>
                        <div class="mt-2 pr-3 content">
                            <p>{{ product.description }}</p>
                        </div>
                        <h3>{% translate 'price' %}: {{ product.price }} {% translate 'Rial' %}</h3>

                        <div class="mt-5"><span class="fw-bold">{% translate 'Detail' %}</span>
                            <div>
                                <ul class="list-group">
                                    {% for attribute in product.attributes.all %}

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            {{ attribute.name }}
                                            <span class="badge bg-primary rounded-pill">{{ attribute.values }}</span>
                                        </li>


                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="buttons d-flex flex-row mt-5 gap-3">
                            <form class="form-group" method="post" action="{% url 'orders:cart_add' product.id %}">
                                {% csrf_token %}
                                <button class="bg-danger" type="button" onclick="decrement()">-</button>
                                {{ form.product_count | attr:'type:number'|attr:'style:text-align: center'|attr:'id:quantity'|attr:'min=0' }}
                                <button class="bg-success" type="button" onclick="increment()">+</button>
                                        <button type="submit"
                                                class="form-control w-50 btn btn-primary mt-2 ">{% translate 'ADD TO CART' %}</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'products/js/product_detail.js' %}"></script>
{% endblock %}

