{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{% translate 'Profile' %}{% endblock %}

{% block style.css %}
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/profile.css' %}">
    <!--===============================================================================================-->
{% endblock %}
{% block drop-drown %}{% endblock %}
{% block content %}
    <div class=" emp-profile">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img ">
                    {% if user.image %}
                        <img class="rounded-circle"
                             src="{{ user.image.url }}"
                             alt=""/>
                    {% else %}
                        <img class="rounded-circle"
                             src="/media/avatar.jpg/"
                             alt=""/>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{ user.username }}
                    </h5>
                    <h6>
                    </h6>
                    <p class="proile-rating">{% translate 'Last login' %} : </p> <span>{{ user.last_login }}</span>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                               aria-controls="home" aria-selected="true">
                                {% translate 'About' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">{% translate 'Adresses' %}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-3">
                <a type="submit" href="{% url 'customer:edit_profile' %}"
                   style="margin: 2px;font-size: revert;"
                   class="btn btn-outline-primary w-75 ml-4 ">{% translate 'Edit Profile' %}</a>
                <br/>
                <a type="submit" href="" style="margin: 2px;font-size: revert;"
                   class="btn btn-outline-primary w-75 ml-4">{% translate 'Recent orders' %}</a>
                <br/>
                <a type="submit" href="" style="margin: 2px;font-size: revert;"
                   class="btn btn-outline-primary w-75 ml-4 ">{% translate 'Order history' %}</a>
                <a type="submit" href="{% url 'customer:change_password' %}"
                   style="margin: 2px;font-size: revert;"
                   class="btn btn-outline-primary w-75 ml-4 ">{% translate 'Change password' %}</a>
                <br/>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>{% translate 'first name' %}</label>
                            </div>
                            <div class="col-md-6">
                                {% if user.first_name %}
                                    <p>{{ user.first_name }} </p>
                                {% else %}
                                    <p>----------</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>{% translate 'last name' %}</label>
                            </div>
                            <div class="col-md-6">
                                {% if  user.last_name %}
                                    <p> {{ user.last_name }}</p>
                                {% else %}
                                    <p>----------</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>{% translate 'Email' %}</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>{% translate 'amount of shopping' %}</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ user.amount_of_shopping }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>230</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br/>
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

    </script>
{% endblock %}