{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}
{% block content %}

    <div class="empty-cart p-5">
                <div class="container-fluid mt-100">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body cart">
                                    <div class="col-sm-12 empty-cart-cls text-center"><img
                                            src="/media/empty-cart.jpg" width="130" height="130"
                                            class="img-fluid mb-4 mr-3">
                                        <h3><strong>{% translate 'Your Cart is Empty' %}</strong></h3>
                                        <a href="{% url 'products:index' %}"
                                           class="btn btn-primary cart-btn-transform m-3"
                                           data-abc="true">{% translate 'shopping' %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}